// Fonts
$font-size: 10px;
$openSansRegular: 'OpenSansRegular', sans-serif;
$OpenSansBold: 'OpenSansBold', sans-serif;
$OpenSansLight: 'OpenSansLight', sans-serif;

// colors
$white: #fff;
$black: #000;
$black-transparent: #000000b3;
$grey-light: #9b9b9b;
$grey: #181818;

// Breakpoints
$desktop: 721px;
